@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 ">Welcome</h1>
    <a class="btn btn-primary" asp-action="AllExpense">Overview</a>
    <a class="btn btn-secondary " asp-action="AddExpense">Add Expense</a>
</div>
